body {
  margin: 0;
  padding: 0;
  background-image: url('assets/background_mountains.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #a5a5a7;
}


#about {
    background-color: #f5f5f580;
    margin:0;
    margin-top: 2rem;
    padding: 1rem;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:5px;
  }

#about > * {
  margin: 0;
  padding: 0;
}
  
  
h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}
  
.about-info {

}

#about h3 {
  font-size: 5rem;
  color: #555;
}

#about p {
  font-size: 3rem;
  color: #777;
  line-height: 1.5;
}

#about ul {
  list-style-type: disc;
  color: #333;
}


#CV {
  display: flex;
  justify-content: center;
  align-items: center;
}

#CV img{
  width: 70%;
}