.sections-container {
  margin-top: 60px;
  margin-left: 9rem;
  background-color: #18191a;  
}


.project-section {
  padding: 20px;
  background-color: #282424;
  border: 1px solid #282424;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  scroll-margin-top: 80px;
}

.project-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.main-container {
  display:flex;
  gap: 1rem;
}

.left-container {
  display: flex;
  justify-content: center;
  align-self: stretch;
  flex-basis: 25%;
  overflow: hidden;
}

.left-container img {
  object-fit:cover;
  height: 100%;
}
/*Handles 2 images for monster maze*/
.two-images {
  display: flex;
  flex-direction:column;
  max-width:100%
}

.two-images img:first-child {
  flex: 25%;
  height: 25%;
}

.two-images img:last-child {
  flex: 75%;
  height: 75%;
}

.right-container {
  flex-basis: 75%;
}

.spec {
  display:flex;
}

.project-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Specification bullet points */
.spec ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}

.spec ul li {
  margin-bottom: 5px;
}

/* Project description paragraphs */
.project-section p {
  margin-bottom: 15px;
}


