body {
  margin: 0;
  padding: 0;
  font-family: "Today Sans Serif SH Medium", Arial, sans-serif;
  background-color: rgb(240, 23, 23);
  color: white;
}

.main {
  background-color: rgb(20, 20, 20);
  margin-top: 7rem;
  padding: 2rem 8rem;
  flex: 1; /* Allow main content to take up remaining vertical space */
  display: flex;
  flex-direction: column; /* Set flex direction to column for vertical layout */
  align-items: center; /* Center content horizontally */
  justify-content: flex-start; /* Align content at the top */
}


.project-title {
  font-size: 5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0;
}

.section1 {
  display:flex;
  gap: 2rem;
  align-items: center;
}

.project-image {
  width: 50%;
  height: auto;
  margin-top: 0;
  padding: 0;
}

.description {
  margin-top: 10px;
}

.section-title {
  font-size: 20px;
  margin-top: 20px;
}

.section2 {
  display:flex;
  gap: 2rem;
}

.project-video {
  width: 100%;
  margin-top: 0;
}

.tags {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.tags div {
  background-color: brown;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  margin: 0 0;
  display: inline-block;
  color: white;
  font-size: 1rem;
}

.section-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 5rem;
}

.game-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.button-container button {
  font-size: 2rem;
}

.game-container h3 {
  font-size: 4rem;
  margin: 0.5rem;
  text-align: center;
}